./venv
**/__pycache__
./build/
**/build/*
*.csv
.idea/
.venv/
venv/
**/screenshots
cmake-build-debug-cygwin/
cmake-build-debug-mingw/
cmake-build-release-cygwin/
build/
.vscode/
cmake*/
**.aux
**.log
**.toc
**.gz
**.out